<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Joy OI 签到</title>
    <link rel="stylesheet" href="~/css/qiandao_style.css">
</head>

<body>
    <div class="qiandao-warp">
        <div class="qiandap-box">
            <div class="qiandao-banner">
                <img src="~/images/qiandao_banner.jpg" height="551" width="1120" alt="">
            </div>
            @RenderBody()
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/qiandao_js.js"></script>
</body>

</html>
